<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <meta http-equiv="set-cookie" content="_ga=87hckjrf98203920kk90jf; expires=Sat, 25-Nov-2023 12:00:00 GMT; domain=localhost;">
</head>
<body>
<h1>
    blah
</h1>

<a href="http://localhost:5000/one">link to one_html text</a>

<script type="text/javascript" src="static/cookie-tracking.js">
</script>


</body>
</html>

